main{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 0.5fr;
    place-items: start;
}
.op{
    margin: 30px;
    margin-left: 10%;
}
.autor{
    font-size: 30px;
    color: #ff99a3;
    margin: 20px;
}
.autor_span{
    font-size: 20px;
    color: #8ea4d2;
}
.opinia{
    font-size: 40px;
}
input[type="submit"]{
    border: 1px solid black;
    background-color: #ff99a3;
    padding: 6px; 
    font-size: 18px;
    cursor: pointer;
    font-variant: small-caps;
}