main{
    text-align: center;
}
p{
    font-size: 24px;
    margin: 10px;
}
main span{
    color: #8ea4d2;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px;
}
h3{
    font-size: 36px;
}
#lewy{
    float: left;
    width: 50%;
    margin: 20px 0px;
}
#prawy{
    float: left;
    width: 50%;
    margin: 20px 0px;
}
footer{
    clear: both;
}
#prawy input{
    padding: 4px;
    font-size: 22px;
}
#prawy input[type='submit']{
    font-size: 14px;
    font-variant: small-caps;
    letter-spacing: 4px;
    background: none;
    border: 3px solid #8ea4d2;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
#prawy input[type='submit']:hover{
    background: #8ea4d2;
    color: white;
    transition: 0.2s;
}
#myInput{
    font-size: 24px;
    width: 200px;
}